.container{
    position: relative;
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 9fr;
}

.title{
    padding: 20px 40px;
    background-color: #EF2844;
}
.title h1{
    color: #030308;
}

.content{
    height: 100%;
    margin: auto;

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
}

.aboutMe{
    display: grid;
    grid-template-rows: 4fr 1fr;
    
    position: relative;
    margin: auto;
}

.skills{
    display: grid;
    grid-template-rows: 2fr 1fr;

    
    background-color: #090917;
    padding: 20px;
}
.skills h2{
    text-decoration: underline;
}

.description,
.tech,
.soft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.description p{
    border-left: 10px solid #EF2844;
    padding: 25px 50px;

    font-size: 18px;
    font-weight: 500;
}

.curriculum{
    padding: 25px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #090917;
}

.techList{
    color: #EF2844;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
}

.qualities{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.qualities h4{
    background-color: #EF2844;
    color: #030308;
    padding: 5px 10px;
    border-radius: 8px;
}