.container{
	position: relative;
	display: grid;
	grid-template-rows: 2.5fr 3fr;

	background-color: #121212;

	box-shadow: 6px 6px 4px 1px rgba(10, 10, 10, 0.8);
}

.picture{
	position: relative;	
}


.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	gap: 10px;

	padding: 20px;
}

.content .border{
	background-color: #EF2844;
	width: 50%;
	height: 2px;
}

.content p{
	margin: 10px 0;
}

.content button{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	padding: 5px 10px;
	width: 50%;
	font-size: 18px;
}